<div class="bithu_faq_sect" id="faq">
    <div class="container">
      <div class="bithu_faq_content">
        <div class="bithu_title_section text-center">
          <h2><span class="shape_left"><img src="assets/images/icon/title_shapes2.svg" alt="" /></span>Questions &
            Answers<span><img src="assets/images/icon/title_shapes.svg" alt="" /></span></h2>
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="bithu_faq_questions">
          <div class="faq_questions">
            <h2 class="accordion no-border">
              What is MiNFT ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            </div>

            <h2 class="accordion">
              How we can buy and invest NFT ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                obscure Latin words, consectetur cites of the word in classical literature.</p>
            </div>

            <h2 class="accordion">
              Why we should choose MiNFT ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            </div>

            <h2 class="accordion">
              Where we can buy and sell NFts ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            </div>

            <h2 class="accordion">
              How secure is this token ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            </div>

            <h2 class="accordion">
              What is your contract address ?
              <span>
                <img src="assets/images/icon/plus.svg" alt="" class="img-fluid IconPlus">
                <img src="assets/images/icon/munis.svg" alt="" class="Img-fluid IconMunise">
              </span>
            </h2>
            <div class="accordion-panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="faq_bg_wattermark">
            <img src="assets/images/bg/faq_bg_wattermark.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>