<div class="bithu_header" id="navbar">
    <div class="container">
        <!-- Main Menu Start -->
        <div class="bithu_menu_sect">
            <div class="bithu_menu_left_sect">
                <div class="logo">
                    <a href="#"><img src="../../assets/images/logo.png" alt="logo"/></a>
                </div>
            </div>
            <div class="bithu_menu_right_sect bithu_v1_menu_right_sect">
                <div class="bithu_menu_list">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#roadmap">Roadmap</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li class="submenu">
                            <a href="#">Pages +</a>
                            <div class="sub_menu_sect">
                                <ol class="sub_menu_list">
                                    <li><a href="index.html">Home One</a></li>
                                    <li><a href="index2.html">Home Two</a></li>
                                    <li><a href="index3.html">Home Three</a></li>
                                    <li><a href="index4.html">Home Four</a></li>
                                    <li><a href="mint.html">Mint One</a></li>
                                    <li><a href="mint2.html">Mint Two</a></li>
                                    <li><a href="comming-soon.html">Coming Soon</a></li>
                                    <li><a href="blog.html">Latest Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bithu_menu_right_buttons">
                    <button class="join_btn hov_shape_show">
                        <img src="../../assets/images/icon/dis_logo.svg" alt="" />Join
                        <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="square_hov_shape"></span>
                    </button>
                    <button class="menu_bar" data-bs-toggle="modal" data-bs-target="#mobileMenuModal"><i class="fa-solid fa-bars"></i></button>
                    
                    <button class="connect_btn hov_shape_show" data-bs-toggle="modal" data-bs-target="#connectModal">
                        <img src="../../assets/images/icon/connect_wallet.svg" alt="" />CONNECT
                        <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="square_hov_shape"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Main Menu END -->
        
        <!-- Mobile Menu Start -->
        <div class="bithu_mobile_menu">
            <div class="bithu_mobile_menu_content">
                <div class="mobile_menu_logo">
                    <span><img src="../../assets/images/logo.png" alt=""></span>
                    <button class="mobile_menu_close_btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="bithu_mobile_menu_list">
                    <ul>
                        <li class="mobile_menu_hide"><a href="#home">Home</a></li>
                        <li class="mobile_menu_hide"><a href="#about">About</a></li>
                        <li class="mobile_menu_hide"><a href="#roadmap">Roadmap</a></li>
                        <li class="mobile_menu_hide"><a href="#team">Team</a></li>
                        <li class="mobile_menu_hide"><a href="#faq">FAQ</a></li>
                        <li class="submenu mobile_submenu" id="submenu">
                            <a href="#">Pages +</a>
                            <ol class="sub_menu_list mobile_sub_menu_list" id="sub_menu_list">
                                <li class="mobile_menu_hide"><a href="index.html">Home One</a></li>
                                <li class="mobile_menu_hide"><a href="index2.html">Home Two</a></li>
                                <li class="mobile_menu_hide"><a href="index3.html">Home Three</a></li>
                                <li class="mobile_menu_hide"><a href="index4.html">Home Four</a></li>
                                <li class="mobile_menu_hide"><a href="mint.html">Mint One</a></li>
                                <li class="mobile_menu_hide"><a href="mint2.html">Mint Two</a></li>
                                <li class="mobile_menu_hide"><a href="comming-soon.html">Coming Soon</a></li>
                                <li class="mobile_menu_hide"><a href="blog.html">Latest Blog</a></li>
                                <li class="mobile_menu_hide"><a href="blog-details.html">Blog Details</a></li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <div class="mobile_menu_btns">
                    <ul class="mobile_menu_social_links">
                        <li><a href="#"><img src="../../assets/images/icon/opensea.svg" alt="" /></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                    </ul>
                    <button class="connect_btn hov_shape_show mobile_menu_hide" data-bs-toggle="modal" data-bs-target="#connectModal">
                        <img src="../../assets/images/icon/connect_wallet.svg" alt="" />Connect
                        <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                        <span class="square_hov_shape"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Mobile Menu End -->
    </div>
</div>

 <!-- Connect Wallet Modal -->
 <div class="connect_modal">
    <div class="modal fade " id="connectModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal_overlay">
            <div class="modal_header">
              <h2>Connect Wallet</h2>
              <button data-bs-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="modal_body text-center">
              <p>Please select a wallet to connect for start Minting your NFTs</p>
              <div class="connect-section">
                <ul class="heading-list">
                  <li><a href="#" onclick="Connect()"><span><img src="../../assets/images/icon/MetaMask.svg"
                          alt="Meta-mask-Image"></span>MetaMask</a></li>
                  <li><a href="#"><span><img src="../../assets/images/icon/Formatic.svg"
                          alt="Coinbase-Image"></span>Coinbase</a></li>
                  <li><a href="#"><span><img src="../../assets/images/icon/Trust_Wallet.svg" alt="Trust-Image"></span>Trust
                      Wallet</a></li>
                  <li><a href="#"><span><img src="../../assets/images/icon/WalletConnect.svg"
                          alt="Wallet-Image"></span>WalletConnect</a></li>
                </ul>
              </div>
              <h6>By connecting your wallet, you agree to our <a href="#">Terms of Service</a> and our <a
                  href="#">Privacy Policy</a>.</h6>
            </div>
            <div class="modal_bottom_shape">
              <span class="modal_bottom_shape_left"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
              <span class="modal_bottom_shape_right"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Connect Wallet Modal -->
<!--Mobile menu Modal-->
<div class="connect_modal">
    <div class="modal fade " id="mobileMenuModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal_overlay">
            <div class="modal_body text-center">
             
              <div class="connect-section">
                <div class="">
                    <div class="">
                        <div class="mobile_menu_logo">
                            <span><img src="../../assets/images/logo.png" alt=""></span>

                            <button class="mobile_menu_close_btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>

                        </div>

                        <div class="bithu_mobile_menu_list">
                            <ul>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="#home">Home</a></li>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="#about">About</a></li>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="#roadmap">Roadmap</a></li>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="#team">Team</a></li>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="#faq">FAQ</a></li> 
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="mint.html">Mint One</a></li>
                                <li class="" data-bs-dismiss="modal" aria-label="Close"><a href="mint2.html">Mint Two</a></li>                               
                            </ul>
                        </div>
                        <div class="mobile_menu_btns">
                            <ul class="mobile_menu_social_links">
                                <li><a href="#"><img src="../../assets/images/icon/opensea.svg" alt="" /></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                            </ul>
                            <button class="connect_btn hov_shape_show mobile_menu_hide" data-bs-toggle="modal" data-bs-target="#connectModal" data-bs-dismiss="modal" aria-label="Close">
                                <img src="../../assets/images/icon/connect_wallet.svg" alt="" />Connect
                                <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                                <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                                <span class="square_hov_shape"></span>
                            </button>
                        </div>
                    </div>
                </div>
              </div>
              <h6>By connecting your wallet, you agree to our <a href="#">Terms of Service</a> and our <a
                  href="#">Privacy Policy</a>.</h6>
            </div>
            <div class="modal_bottom_shape">
              <span class="modal_bottom_shape_left"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
              <span class="modal_bottom_shape_right"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Mobile menu Modal ends-->
  <!-- Mint Modal -->
  <div class="mint_modal">
    <div class="modal fade " id="mintModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal_overlay2">
            <div class="modal_header">
              <h2>Collect YOUR NFT before end</h2>
              <button data-bs-dismiss="modal" aria-label="Close">
                <span class="clossbtn_bg"><i class="fa-solid fa-xmark"></i></span>
              </button>
            </div>
            <div class="modal_body text-center">
              <div class="mint_img">
                <img src="../../assets/images/icon/mint-img.png" alt="img" />
              </div>
              <div class="mint_count_list">
                <ul>
                  <li>
                    <h5>Remaining</h5>
                    <h5>4583/<span>9999</span></h5>
                  </li>
                  <li>
                    <h5>Price</h5>
                    <h5>0.15 ETH</h5>
                  </li>
                  <li>
                    <h5>Quantity</h5>
                    <div class="mint_quantity_sect">
                      <button onclick="buttonClick_Dec();">-</button>
                      <input type="text" id="quantity" value="2">
                      <button onclick="buttonClick_Inc();">+</button>
                    </div>
                    <h5><span>0.30</span> ETH</h5>
                  </li>

                </ul>
              </div>
              <button class="modal_mint_btn hov_shape_show">
                MINT NFT NOW
                <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_L_dark.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_L_dark.svg" alt="" /></span>
              </button>
              <h6>Presale & Whitelist : Soldout</h6>
            </div>
            <div class="modal_bottom_shape">
              <span class="modal_bottom_shape_left"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
              <span class="modal_bottom_shape_right"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Section End-->