<div class="v1_about_us_section" id="about">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-md-6">
          <div class="v1_about_us_right_sect">
            <div class="bithu_title_section">
              <h2>The story <img src="../assets/images/icon/title_shapes.svg" alt="" /></h2>
              <h3>About Us</h3>
            </div>
            <div class="v1_about_us_right_text">
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur cites of
                the word in classical literature.</p>
              <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original a latin professor at Hampden-Sydney</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="v1_about_us_left_sect sm-mt-60">
            <div class="v1_about_us_img_card v1_about_us_img_card1">
              <div class="v1_about_us_img v1_about_us_img1">
                <img src="../assets/images/nft/about_us_img1.png" alt="img" />
              </div>
              <div class="v1_about_us_img1_shapes">
                <div class="v1_about_us_img1_shapes_left">
                  <div class="shape_1"></div>
                  <div class="shape_2"></div>
                </div>
                <div class="v1_about_us_img1_shapes_right">
                  <div class="shape_3"></div>
                </div>
              </div>
            </div>
            <div class="v1_about_us_img_card v1_about_us_img_card2">
              <div class="v1_about_us_img v1_about_us_img2">
                <img src="../assets/images/nft/about_us_img2.png" alt="img" />
              </div>
              <div class="v1_about_us_img2_shapes">
                <div class="v1_about_us_img2_shapes_left">
                  <div class="shape_1"></div>
                  <div class="shape_2"></div>
                </div>
                <div class="v1_about_us_img2_shapes_right">
                  <div class="shape_3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about_us_text_card_sect md-mt-0">
        <div class="row">
          <div class="col-md-4">
            <div class="about_us_text_card">
              <h3><img src="../assets/images/icon/aboutus_card_icon1.png" alt="" />Gamming NFTs</h3>
              <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about_us_text_card">
              <h3><img src="../assets/images/icon/aboutus_card_icon2.png" alt="" />Play to Earn</h3>
              <p>Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about_us_text_card">
              <h3><img src="../assets/images/icon/aboutus_card_icon3.png" alt="" />Metaverse Ready</h3>
              <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>