<div class="v1_roadmap_sect" id="roadmap">
    <div class="container">
      <div class="bithu_title_section">
        <h2>Our Goals<img src="../assets/images/icon/title_shapes.svg" alt="" /></h2>
        <h3>Roadmap</h3>
      </div>
      <div class="v1_roadmap_divider">
        <img src="../assets/images/nft/v1_roadmap_divider_shape.png" alt="" />
      </div>
      <div class="v1_roadmap_contents_inner">
        <div class="v1_roadmap_contents">


          <div class="swiper slickSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 01 <span><img src="../assets/images/icon/roadmap_check.svg" alt="" /></span></h3>
                <h4>20% Soldout</h4>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced.</p>
              </div>

              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 02 <span><img src="../assets/images/icon/roadmap_check.svg" alt="" /></span></h3>
                <h4>50% Soldout</h4>
                <p>Pleasure and praising pain was born and I will give you a complete account of the system, and expound
                  the actual teachings of the great explorer of the truth, the master-builder of human.</p>
              </div>

              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 03 <span><img src="../assets/images/icon/roadmap_check.svg" alt="" /></span></h3>
                <h4>Metaverse Launch</h4>
                <p>A complete account of the system, and expound the actual teachings of the great explorer of the
                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                  because it is pleasure, but because those who do not know how to pursue</p>
              </div>

              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 04 <span><img src="../assets/images/icon/roadmap_spiner.png" alt="" /></span></h3>
                <h4>70% Soldout</h4>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                  Sections 1.10.32 and 1.10.33 from </p>
              </div>

              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 05 <span><img src="../assets/images/icon/roadmap_spiner.png" alt="" /></span></h3>
                <h4>80% Soldout</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
              </div>

              <div class="swiper-slide v1_roadmap_contents_text">
                <h3>Phase 06 <span><img src="../assets/images/icon/roadmap_spiner.png" alt="" /></span></h3>
                <h4>90% Soldout</h4>
                <p>Reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                  Malorum" by Cicero are also reproduced.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bithu_roadmap_mass_gard">
      <img src="../assets/images/bg/bithu_roadmap_mash_Grad.png" alt="" />
    </div>
  </div>