<div class="bithu_team_sect v1_team_sect" id="team">
    <div class="v1_team_overlay">
      <div class="container">
        <div class="bithu_title_section">
          <h2>Team Members<img src="../assets/images/icon/title_shapes.svg" alt="" /></h2>
          <h3>Meet The Crew</h3>
        </div>
        <div class="bithu_team_content">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar1.png" alt="" />
                </div>
                <h3>Berneice Tran</h3>
                <h4>Founder</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar2.png" alt="" />
                </div>
                <h3>Nathan Bean</h3>
                <h4>Co-Founder</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar3.png" alt="" />
                </div>
                <h3>Lynnette 4Wilkes</h3>
                <h4>Aritst</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar4.png" alt="" />
                </div>
                <h3>Claudia Hicks</h3>
                <h4>Co-Artist</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar5.png" alt="" />
                </div>
                <h3>Moneo Doa</h3>
                <h4>UI Designer</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar6.png" alt="" />
                </div>
                <h3>Robert Neo</h3>
                <h4>Digital Artist</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar7.png" alt="" />
                </div>
                <h3>Sony Jina</h3>
                <h4>Blockchain Dev</h4>
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="bithu_team_card hov_shape_team">
                <div class="team_member_img">
                  <img src="../assets/images/team/crew_avatar8.png" alt="" />
                </div>
                <h3>Natala Elon</h3>
                <h4>SEO Engineer</h4>
                <span class="hov_shape1"><img src="assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <div class="team_social_icon">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>