<div class="bithu_v1_baner_sect" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="bithu_v1_baner_left">
            <h2>BNUG Events 🎯 NFT collections</h2>
            <h3><span class="count">5555</span> / 5555 Minted</h3>
            <div class="bithu_v1_baner_buttons">
              <button class="mint_btn hov_shape_show" data-bs-toggle="modal" data-bs-target="#mintModal">
                Get me my NFT now!
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L_dark.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L_dark.svg" alt="" /></span>
                <span class="square_hov_shape_dark"></span>
              </button>
              <button class="widhlist_btn hov_shape_show">
                Whitelist Now
                <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_L.svg" alt="" /></span>
                <span class="square_hov_shape"></span>
              </button>
            </div>
            <ul>
              <li>Max 2 NFTs per wallet . Price 0.09 ETH + gas</li>
              <li>MINT IS LIVE <span>UNTIL 25 APR 04:00H</span></li>
              <li>Presale : SOLDOUT</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bithu_v1_baner_right">
            <div class="bithu_v1_baner_right_img_sect">
              <div class="mint_live_circle_sect">
                <div class="mint_live_circle">
                  <span><img src="../assets/images/nft/mint_live_down_arrow.svg" alt="" /></span>
                  <span class="mint_live_text rotated-style"><img src="../assets/images/nft/mint_live_text.png"
                      alt="" /></span>
                </div>
              </div>
              <div class="bithu_v1_baner_right_img_bg">
                <img src="../assets/images/nft/home_img_bg.png" alt="" />
              </div>
              <div class="bithu_v1_baner_right_img">
                <img src="../assets/images/nft/Character1.png" alt="avater">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Banner Section End-->

  <!--Counter Section Start-->
  <div class="bithu_total_counter_sect">
    <div class="container">
      <ul>
        <li>
          <h3><span class="counter">5555</span></h3>
          <h4>Total Items</h4>
        </li>

        <li>
          <h3><span class="counter">896</span></h3>
          <h4>Total Owners</h4>
        </li>

        <li>
          <h3><span class="counter">0.55</span></h3>
          <h4>Floor Price (ETH)</h4>
        </li>

        <li>
          <h3><span class="counter">25.5</span>K</h3>
          <h4>Volume Traded (ETH)</h4>
        </li>
      </ul>
    </div>
    <span class="square_shape1"><img src="../assets/images/icon/square_shape_2.png" alt="" /></span>
    <span class="square_shape2"><img src="../assets/images/icon/square_shape_1.png" alt="" /></span>
    <span class="square_shape3"><img src="../assets/images/icon/square_shape_1.png" alt="" /></span>
    <span class="square_shape4"><img src="../assets/images/icon/square_shape_2.png" alt="" /></span>
  </div>
  <div class="bithu_owl_carousel_sect">
    <div class="bithu_owl_carousel_content">
      <div class="swiper swiper-autoplay-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater1.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater2.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater3.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater4.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater5.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater6.png" alt="img"></div>
          </div>
          <div class="swiper-slide">
            <div class="item bg-2"><img src="../assets/images/nft/carousel_avater1.png" alt="img"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="how_to_mint_sect">
    <div class="container how_to_mint_container">
      <div class="bithu_title_section md-pb-20">
        <h2>Easy steps<img src="../assets/images/icon/title_shapes.svg" alt="" /></h2>
        <h3>How to mint</h3>
      </div>
      <div class="how_to_mint_shadow">
        <img src="../assets/images/nft/Mesh-Grad.png" alt="" />
      </div>
      <div class="how_to_mint_content">
        <ul>
          <li>
            <h4 class="green">1</h4>
            <p>Connect Your Wallet</p>
          </li>

          <li>
            <h4 class="blue">2</h4>
            <p>Select Your Quantity</p>
          </li>

          <li>
            <h4 class="yellow">3</h4>
            <p>Confiem the Transaction</p>
          </li>

          <li>
            <h4 class="red">4</h4>
            <p>Receive Your NFTs</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Counter Section End-->

  <app-about></app-about>
  <!-- About Us section End -->

  <!-- Roadmap Section Start-->
 <app-roadmap></app-roadmap>
  <!-- Roadmap Section End-->

  <!-- Team Section Start-->
 <app-team></app-team>
  <!-- Team Section End-->

  <!-- FAQ Section Start-->
 <app-faq></app-faq>
  <!-- FAQ Section End-->